@font-face {
	font-family: prxm;
	src: url(ProximaNova-Regular.Otf);
}

  * {
	font-family: prxm;
}

.logo {
    width: 152px;
    margin-top: 20px;
}

.container {
    width: 1124px;
    padding: 0 0;
    margin: 0 auto;
}

.content {
    padding: 180px 0 100px 0;
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-color: #674BB1;
    color: white;
    text-align: center;
    display: flex;
}

.container-left {
    margin: 0 64px;
}

.container-right {
    text-align: left;
}

.container-right h1 {
    font-size: 48px;
}

.container-right p {
    font-size: 20px;
    letter-spacing: 1px;
}

.container-right a {
    margin-top: 24px;
	display: inline-block;
	padding: 16px 64px;
	background: #ffffff;
	border-radius: 20px;
	text-align: center;
    color: #674BB1;
    text-decoration: none;
}