@font-face {
	font-family: prxm;
	src: url(ProximaNova-Regular.Otf);
}

  * {
	font-family: prxm;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-color: #674BB1;
}
.logo {
    width: 256px;
    margin-top: 20px;
    margin-left: 64px;
}

.container {
    width: 1124px;
    padding: 0 0;
    margin: 0 auto;
}

.content {
    padding: 96px 0 0 0;
    color: white;
    text-align: center;
    display: flex;
}

.container-left {
    margin: 0 64px;
}

.container-right {
    text-align: left;
    margin-right: 64px;
}

.container-right h1 {
    font-size: 48px;
    margin-right: 128px;
}

.container-right p {
    font-size: 20px;
    letter-spacing: 1px;
}

.container-right a {
    margin-top: 24px;
	display: inline-block;
	padding: 16px 64px;
	background: #ffffff;
	border-radius: 20px;
	text-align: center;
    color: #674BB1;
    text-decoration: none;
    box-shadow: 8px 8px 5px #46289b;
}

.social-container {
    display: flex;
    float: right;
    margin-right: 64px;
}

.social-wrapper {
    margin: 0 20px;
}