* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg");
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
}

.row {
    display: flex;
}

.logo img {
    padding: 40px;
    margin-left: 30px;
    width: 20%;
}

.row__mockup img {
    margin: 55px 20px 0 70px;
}

.row__info {
    color: white;
    margin-left: 25px;
    padding-top: 60px;
    padding-right: 95px;
}

.row__info__text {
    margin-top: 40px;
}

.row__info__text h1,
.row__info__text h2 {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.row__info__text p {
    margin-top: 30px;
    font-size: 18.5px;
    color: #ddd;
}

.row__info__btn {
    margin-top: 30px;
    border-radius: 30px;
    padding: 15px 65px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px 0px rgba(100, 100, 100, 0.8);
    color: hsl(257, 40%, 49%);
    font-size: 19px;
    transition: 0.2s;
    outline: none;
}

.row__info__btn:hover {
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.socials__fb a,
.socials__tw a,
.socials__in a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px white;
}

.socials__fb a {
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width: 375px) {
    .container {
        min-width: 375px;
        background-color: hsl(257, 40%, 49%);
        background-image: url("images/bg-mobile.svg");
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        margin: 0;
        width: 60%;
    }

    .row__mockup {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .row__info {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }

    .row__info__text {
        margin: 0;
        text-align: center;
    }

    .row__mockup img {
        width: 80%;
        margin: 0;
    }

    .row__info__text h1,
    .row__info__text h2 {
        font-family: "Poppins", sans-serif;
        font-size: 22px;
        font-weight: 700;
    }

    .row__info__text p {
        font-size: 16px;
        color: #ddd;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }

    .row__info__btn {
        margin-left: 20%;
    }

    .socials {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}